@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

body {
  background-color: #191A1E;
  color:white;
  font-family: 'IBM Plex Mono', monospace;
}

.header {
  border-bottom: 2px solid white;
  text-align: center;
}

h1 {
  font-size: 30px;
  letter-spacing: .2em;
  text-align: center;
  line-height: 1.5em;
}